[Unit]
Description=gunicorn daemon for kittygram
After=network.target

[Service]
User=yc-user
WorkingDirectory=/home/yc-user/infra_sprint1/backend
Environment="DJANGO_SETTINGS_MODULE=kittygram_backend.settings"
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/yc-user/infra_sprint1/backend/venv/bin/gunicorn --bind 127.0.0.1:8080 kittygram_backend.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
